@theme {
  --cbo-scrollbar-width: 0px;

  --cbo-padding-x: 0rem;
  --cbo-padding-x-sm: 0rem;
  --cbo-padding-x-md: 0rem;
  --cbo-padding-x-lg: 0rem;
  --cbo-padding-x-xl: 0rem;
  --cbo-padding-x-2xl: 0rem;

  --cbo-max-width-sm: var(--breakpoint-sm);
  --cbo-max-width-md: var(--breakpoint-md);
  --cbo-max-width-lg: var(--breakpoint-lg);
  --cbo-max-width-xl: var(--breakpoint-xl);
  --cbo-max-width-2xl: var(--breakpoint-2xl);
}

@utility container {
  padding-inline: var(--cbo-padding-x);

  @variant sm {
    padding-inline: var(--cbo-padding-x-sm);
    max-width: var(--cbo-max-width-sm);
  }

  @variant md {
    padding-inline: var(--cbo-padding-x-md);
    max-width: var(--cbo-max-width-md);
  }

  @variant lg {
    padding-inline: var(--cbo-padding-x-lg);
    max-width: var(--cbo-max-width-lg);
  }

  @variant xl {
    padding-inline: var(--cbo-padding-x-xl);
    max-width: var(--cbo-max-width-xl);
  }

  @variant 2xl {
    padding-inline: var(--cbo-padding-x-2xl);
    max-width: var(--cbo-max-width-2xl);
  }
}

@utility mx-break-out {
  margin-inline: calc(var(--cbo-padding-x) * -1);

  @variant sm {
    margin-inline: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-sm) / 2 - var(--cbo-padding-x-sm));
  }

  @variant md {
    margin-inline: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-md) / 2 - var(--cbo-padding-x-md));
  }

  @variant lg {
    margin-inline: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-lg) / 2 - var(--cbo-padding-x-lg));
  }

  @variant xl {
    margin-inline: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-xl) / 2 - var(--cbo-padding-x-xl));
  }

  @variant 2xl {
    margin-inline: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-2xl) / 2 - var(--cbo-padding-x-2xl));
  }
}

@utility ml-break-out {
  margin-left: calc(var(--cbo-padding-x) * -1);

  @variant sm {
    margin-left: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-sm) / 2 - var(--cbo-padding-x-sm));
  }

  @variant md {
    margin-left: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-md) / 2 - var(--cbo-padding-x-md));
  }

  @variant lg {
    margin-left: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-lg) / 2 - var(--cbo-padding-x-lg));
  }

  @variant xl {
    margin-left: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-xl) / 2 - var(--cbo-padding-x-xl));
  }

  @variant 2xl {
    margin-left: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-2xl) / 2 - var(--cbo-padding-x-2xl));
  }
}

@utility mr-break-out {
  margin-right: calc(var(--cbo-padding-x) * -1);

  @variant sm {
    margin-right: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-sm) / 2 - var(--cbo-padding-x-sm));
  }

  @variant md {
    margin-right: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-md) / 2 - var(--cbo-padding-x-md));
  }

  @variant lg {
    margin-right: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-lg) / 2 - var(--cbo-padding-x-lg));
  }

  @variant xl {
    margin-right: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-xl) / 2 - var(--cbo-padding-x-xl));
  }

  @variant 2xl {
    margin-right: calc((-100vw + var(--cbo-scrollbar-width)) / 2 + var(--cbo-max-width-2xl) / 2 - var(--cbo-padding-x-2xl));
  }
}

@utility px-break-out {
  padding-inline: var(--cbo-padding-x);

  @variant sm {
    padding-inline: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-sm) / 2 + var(--cbo-padding-x-sm));
  }

  @variant md {
    padding-inline: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-md) / 2 + var(--cbo-padding-x-md));
  }

  @variant lg {
    padding-inline: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-lg) / 2 + var(--cbo-padding-x-lg));
  }

  @variant xl {
    padding-inline: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-xl) / 2 + var(--cbo-padding-x-xl));
  }

  @variant 2xl {
    padding-inline: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-2xl) / 2 + var(--cbo-padding-x-2xl));
  }
}

@utility pl-break-out {
  padding-left: var(--cbo-padding-x);

  @variant sm {
    padding-left: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-sm) / 2 + var(--cbo-padding-x-sm));
  }

  @variant md {
    padding-left: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-md) / 2 + var(--cbo-padding-x-md));
  }

  @variant lg {
    padding-left: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-lg) / 2 + var(--cbo-padding-x-lg));
  }

  @variant xl {
    padding-left: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-xl) / 2 + var(--cbo-padding-x-xl));
  }

  @variant 2xl {
    padding-left: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-2xl) / 2 + var(--cbo-padding-x-2xl));
  }
}

@utility pr-break-out {
  padding-right: var(--cbo-padding-x);

  @variant sm {
    padding-right: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-sm) / 2 + var(--cbo-padding-x-sm));
  }

  @variant md {
    padding-right: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-md) / 2 + var(--cbo-padding-x-md));
  }

  @variant lg {
    padding-right: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-lg) / 2 + var(--cbo-padding-x-lg));
  }

  @variant xl {
    padding-right: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-xl) / 2 + var(--cbo-padding-x-xl));
  }

  @variant 2xl {
    padding-right: calc((100vw - var(--cbo-scrollbar-width)) / 2 - var(--cbo-max-width-2xl) / 2 + var(--cbo-padding-x-2xl));
  }
}
